* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: color;
  letter-spacing: 0.5;
}

body {
  background-image: linear-gradient(to right, #dcfaff, #f1caff, #cae0ff);
}

/* Navbar */
.navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
  background-color: rgb(219, 99, 255);
}

.menu-toggle {
  opacity: 0;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
}

ul li {
  width: 250px;
  display: flex;
  align-items: center;
  text-align: center;
}

ul li img {
  margin: auto;
  width: 45px;
  height: 30px;
}

ul li a {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: auto;
  color: white;
  font-size: 17px;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: 0.5s all;
}

li a:hover {
  cursor: pointer;
  background-color: rgb(224, 160, 244);
  color: black;
}

li.liContact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

a.aContact {
  width: 120px;
  height: 35px;
  line-height: 35px;
  margin: auto;
  margin-right: 30px;
  background-color: rgb(209, 138, 254);
  border: 1px solid rgb(177, 4, 245);
  border-radius: 20px;
  transition: 0.5s;
}

a.aContact:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(160, 65, 249, 0.7),
    -2px -2px 2px 2px rgba(160, 65, 249, 0.7),
    4px 4px 4px 4px rgba(189, 133, 242, 0.7),
    -4px -4px 4px 4px rgba(189, 133, 242, 0.7),
    6px 6px 6px 6px rgba(215, 172, 254, 0.7),
    -6px -6px 6px 6px rgba(215, 172, 254, 0.7);
  color: black;
}

.navbar a.active {
  color: black;
}
/* End navbar */

/* Blog */
.blog-container {
  width: 100vw;
  margin: auto;
  margin-bottom: 50px;
  padding: 20px;
  padding-top: 120px;
}

.blog-container p {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.1rem;
}

h2 {
  margin-bottom: 30px;
  font-size: calc(3vw + 0.8rem);
  text-align: center;
}

h3 {
  font-size: 1.3rem;
}

.content-satu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.img-content {
    width: 70vw;
    margin-right: 20px;
    transition: 0.5s all;
}

.img-content:hover {
  box-shadow: 2px 2px 2px 2px rgba(160, 65, 249, 0.7),
    -2px -2px 2px 2px rgba(160, 65, 249, 0.7),
    4px 4px 4px 4px rgba(189, 133, 242, 0.7),
    -4px -4px 4px 4px rgba(189, 133, 242, 0.7),
    6px 6px 6px 6px rgba(215, 172, 254, 0.7),
    -6px -6px 6px 6px rgba(215, 172, 254, 0.7);
}

.content-satu label {
  font-size: 1rem;
}

.content-dua {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}

.content-dua .duration img {
  width: 20px;
  height: 20px;
}

.content-dua .duration img:hover {
  transform: scale(1.2) rotate(360deg);
  filter: hue-rotate(150deg);
  transition: 0.5s all;
}

.content-dua .tech img {
  width: 20px;
  height: 20px;
}

.content-dua .tech img:hover {
  transform: scale(1.2) rotate(360deg);
  filter: hue-rotate(150deg);
  transition: 0.5s all;
}

.content-dua .duration {
  width: 100%;
  margin-bottom: 25px;
  display: grid;
  grid-template-areas:
    "duration duration"
    "img1 label1"
    "img2 label2";
  justify-content: flex-start;
}

.duration h3 {
  grid-area: duration;
  margin-bottom: 8px;
}

.duration .calender {
  grid-area: img1;
  margin-bottom: 10px;
  margin-right: 5px;
}

.duration .label1 {
  grid-area: label1;
  margin-bottom: 10px;
}

.duration .clock {
  grid-area: img2;
  margin-right: 5px;
}

.duration .label2 {
  grid-area: label2;
}

.content-dua .tech {
  width: 100%;
  display: grid;
  grid-template-areas:
    "tech tech tech tech"
    "img3 label3 img4 label4"
    "img5 label5 img6 label6";
  justify-content: flex-start;
}

.tech h3 {
  grid-area: tech;
  margin-bottom: 8px;
}

.tech .react {
  grid-area: img3;
  margin-bottom: 10px;
  margin-right: 5px;
}

.tech .label3 {
  grid-area: label3;
  margin-bottom: 10px;
  margin-right: 20px;
}

.tech .javascript {
  grid-area: img4;
  margin-bottom: 10px;
  margin-right: 5px;
}

.tech .label4 {
  grid-area: label4;
  margin-bottom: 10px;
}

.tech .node {
  grid-area: img5;
  margin-right: 5px;
}

.tech .label5 {
  grid-area: label5;
  margin-right: 20px;
}

.tech .socket {
  grid-area: img6;
  margin-right: 5px;
}

.tech .label6 {
  grid-area: label6;
}

.desc p {
    font-size: 1em;
}
/* End blog */

@media screen and (max-width: 768px) {
  /* Navbar */
  .navbar ul {
    width: 50%;
    margin-left: -25px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(219, 99, 255);
    z-index: -999;
    padding-top: 50px;
    transform: translateX(-100%);
    transition: 0.5s all;
  }

  .navbar ul li {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 25px 0px;
    z-index: -999;
  }

  .navbar ul li:hover {
    cursor: pointer;
    background-color: rgb(224, 160, 244);
  }

  .navbar ul li.logo {
    display: none;
  }

  .navbar ul li.liContact {
    display: flex;
    height: 70px;
    padding: 0px;
  }

  .navbar a.aContact {
    width: 100%;
    height: 70px;
    line-height: 70px;
    padding: 0px;
    background-color: rgb(219, 99, 255);
    border: none;
    border-radius: 0px;
    margin: auto;
  }

  .navbar a.aContact:hover {
    box-shadow: none;
    background-color: rgb(224, 160, 244);
    transition: none;
  }
  /* Hamburger menu */
  .menu-toggle {
    position: relative;
    left: 10%;
    top: 10px;
    width: 25px;
    height: 25px;
    opacity: 1;
  }

  .menu-toggle input {
    position: absolute;
    height: 25px;
    width: 25px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }

  .menu-toggle span {
    display: block;
    height: 4px;
    width: 25px;
    margin-bottom: 7px;
    border-radius: 10px;
    background-color: white;
    transition: all 0.5s;
  }
  /* Animasi menu toggle */
  .menu-toggle span:nth-child(2) {
    transform-origin: 0% 0%;
  }

  .menu-toggle span:nth-child(3) {
    opacity: 1;
  }

  .menu-toggle span:nth-child(4) {
    transform-origin: 0% 100%;
  }

  /* apabila input di checklist */
  .menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px) scaleX(1.35);
  }

  .menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
  }

  .menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(0px, 0px) scaleX(1.35);
  }

  /*toggle slide  */
  .navbar ul.slide {
    transform: translateX(0);
    opacity: 1;
  }

  .navbar ul li.liContact.slide {
    transform: translate(0);
    opacity: 1;
  }
  /* End Hamburger menu */
  /* End navbar */

  /* Blog container */
  .blog-container {
    padding-right: 30px;
    padding-top: 120px;
  }

  .content-satu {
    flex-direction: column;
  }

  .img-content {
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
  }

  .content-dua {
    width: 100%;
  }
  /* End blog container */
}
