* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: color;
}

body {
  background-image: linear-gradient(to right, #dcfaff, #f1caff, #cae0ff);
}

/* Navbar */
.navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
  background-color: rgb(219, 99, 255);
}

.menu-toggle {
  opacity: 0;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
}

ul li {
  width: 250px;
  display: flex;
  align-items: center;
  text-align: center;
}

ul li img {
  margin: auto;
  width: 45px;
  height: 30px;
}

ul li a {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: auto;
  color: white;
  font-size: 17px;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: 0.5s all;
}

li a:hover {
  cursor: pointer;
  background-color: rgb(224, 160, 244);
  color: black;
}

li.liContact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

a.aContact {
  width: 120px;
  height: 35px;
  line-height: 35px;
  margin: auto;
  margin-right: 30px;
  background-color: rgb(209, 138, 254);
  border: 1px solid rgb(177, 4, 245);
  border-radius: 20px;
  transition: 0.5s;
}

a.aContact:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(160, 65, 249, 0.7),
    -2px -2px 2px 2px rgba(160, 65, 249, 0.7),
    4px 4px 4px 4px rgba(189, 133, 242, 0.7),
    -4px -4px 4px 4px rgba(189, 133, 242, 0.7),
    6px 6px 6px 6px rgba(215, 172, 254, 0.7),
    -6px -6px 6px 6px rgba(215, 172, 254, 0.7);
  color: black;
}

.navbar a.active {
  color: black;
}
/* End navbar */

/* Add project */
.form-container {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, #dcfaff, #f1caff, #cae0ff);
  padding-top: 120px;
}

h2 {
  text-align: center;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  font-size: 2rem;
}

.form-container form {
  width: 50%;
  display: flex;
  flex-direction: column;
  transition: 0.5s all;
}

input {
  height: 30px;
  display: block;
  padding: 0px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid white;
  background-image: linear-gradient(to right, #dcfaff, #f1caff, #cae0ff);
  transition: 0.5s all;
}

label {
  margin-top: 15px;
  margin-bottom: 5px;
}

.date {
  display: grid;
  gap: 0px 15px;
  grid-template-areas:
    "label-1 label-2"
    "start-date end-date";
}

.label-1 {
  grid-area: label-1;
}

.label-2 {
  grid-area: label-2;
}

.start-date {
  grid-area: start-date;
  width: 100%;
}

.end-date {
  grid-area: end-date;
  width: 100%;
}

textarea {
  width: 100%;
  height: 120px;
  display: block;
  border-radius: 5px;
  padding: 10px 10px;
  border: 2px solid white;
  background-image: linear-gradient(to right, #dcfaff, #f1caff, #cae0ff);
  transition: 0.5s all;
}

input:focus,
textarea:focus {
  outline: none;
}

.checkbox-1,
.checkbox-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin-bottom: 10px;
}

.checkbox-1 input,
.checkbox-2 input {
  margin: 0px;
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

.checkbox-1 label,
.checkbox-2 label {
  width: 200px;
  margin: auto;
}

/* Input Upload Image */
.img-upload {
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: 0.5s all;
}

.img-upload label {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, #dcfaff, #f1caff, #cae0ff);
  border-radius: 5px;
  margin: -1px;
  transition: 0.5s all;
}

.img-upload input {
  display: none;
}

.img-upload label:hover {
  cursor: text;
}

.img-upload p {
  min-width: 10vw;
  padding: 5px;
  text-align: center;
  background-color: rgb(209, 138, 254);
  color: rgb(44, 44, 44);
  font-weight: bold;
  border-radius: 5px;
  transition: 0.5s;
}

.img-upload p:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(160, 65, 249, 0.7),
    -2px -2px 2px 2px rgba(160, 65, 249, 0.7),
    4px 4px 4px 4px rgba(189, 133, 242, 0.7),
    -4px -4px 4px 4px rgba(189, 133, 242, 0.7),
    6px 6px 6px 6px rgba(215, 172, 254, 0.7),
    -6px -6px 6px 6px rgba(215, 172, 254, 0.7);
}

.img-upload label img {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}

.img-upload label img:hover {
  cursor: pointer;
}
/* End input upload image */

.btn-submit {
  min-width: 10vw;
  align-self: flex-end;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid rgb(177, 4, 245);
  background-color: rgb(209, 138, 254);
  color: rgb(44, 44, 44);
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.5px;
  transition: 0.5s all;
}

.btn-submit:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(160, 65, 249, 0.7),
    -2px -2px 2px 2px rgba(160, 65, 249, 0.7),
    4px 4px 4px 4px rgba(189, 133, 242, 0.7),
    -4px -4px 4px 4px rgba(189, 133, 242, 0.7),
    6px 6px 6px 6px rgba(215, 172, 254, 0.7),
    -6px -6px 6px 6px rgba(215, 172, 254, 0.7);
}

.violet-border {
  box-shadow: 2px 2px 2px 2px rgba(160, 65, 249, 0.7),
    -2px -2px 2px 2px rgba(160, 65, 249, 0.7),
    4px 4px 4px 4px rgba(189, 133, 242, 0.7),
    -4px -4px 4px 4px rgba(189, 133, 242, 0.7),
    6px 6px 6px 6px rgba(215, 172, 254, 0.7),
    -6px -6px 6px 6px rgba(215, 172, 254, 0.7);
}

.black-border {
  border: 1px solid black;
}
/* End add project */

/* Cards */
.card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px 0px;
  background-image: linear-gradient(to right, #dcfaff, #f1caff, #cae0ff);
  padding: 50px;
  padding-top: 30px;
}

.title {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
}

.cards {
  width: 31%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-image: linear-gradient(to right, #dcfaff, #f1caff, #cae0ff);
  transition: 0.5s all;
}

.cards:hover {
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(160, 65, 249, 0.7),
    -2px -2px 2px 2px rgba(160, 65, 249, 0.7),
    4px 4px 4px 4px rgba(189, 133, 242, 0.7),
    -4px -4px 4px 4px rgba(189, 133, 242, 0.7),
    6px 6px 6px 6px rgba(215, 172, 254, 0.7),
    -6px -6px 6px 6px rgba(215, 172, 254, 0.7);
  transform: scale(1.03);
}

.cards img {
  width: 100%;
  height: 270px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: 0.5s;
}

.cards img:hover {
  filter: hue-rotate(150deg);
}

.card-container .cards h3 a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.cards .date {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 0.8rem;
}

.cards .desc {
  margin-bottom: 25px;
  text-align: justify;
  font-size: 1rem;
}

.cards .icons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.cards .icons img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  transition: 0.5s all;
}

.icons img:hover {
  transform: scale(1.2) rotate(360deg);
  filter: hue-rotate(150deg);
}

.cards div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cards div button {
  width: 48%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(177, 4, 245);
  background-color: rgb(209, 138, 254);
  color: rgb(44, 44, 44);
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.7px;
  transition: 0.5s all;
}

.cards div button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(160, 65, 249, 0.7),
    -2px -2px 2px 2px rgba(160, 65, 249, 0.7),
    4px 4px 4px 4px rgba(189, 133, 242, 0.7),
    -4px -4px 4px 4px rgba(189, 133, 242, 0.7),
    6px 6px 6px 6px rgba(215, 172, 254, 0.7),
    -6px -6px 6px 6px rgba(215, 172, 254, 0.7);
}
/* End cards */

@media screen and (max-width: 768px) {
  /* Navbar */
  .navbar ul {
    width: 50%;
    margin-left: -25px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(219, 99, 255);
    z-index: -999;
    padding-top: 50px;
    transform: translateX(-100%);
    transition: 0.5s all;
  }

  .navbar ul li {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 25px 0px;
    z-index: -999;
  }

  .navbar ul li:hover {
    cursor: pointer;
    background-color: rgb(224, 160, 244);
  }

  .navbar ul li.logo {
    display: none;
  }

  .navbar ul li.liContact {
    display: flex;
    height: 70px;
    padding: 0px;
  }

  .navbar a.aContact {
    width: 100%;
    height: 70px;
    line-height: 70px;
    padding: 0px;
    background-color: rgb(219, 99, 255);
    border: none;
    border-radius: 0px;
    margin: auto;
  }

  .navbar a.aContact:hover {
    box-shadow: none;
    background-color: rgb(224, 160, 244);
    transition: none;
  }
  /* Hamburger menu */
  .menu-toggle {
    position: relative;
    left: 10%;
    top: 10px;
    width: 25px;
    height: 25px;
    opacity: 1;
  }

  .menu-toggle input {
    position: absolute;
    height: 25px;
    width: 25px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }

  .menu-toggle span {
    display: block;
    height: 4px;
    width: 25px;
    margin-bottom: 7px;
    border-radius: 10px;
    background-color: white;
    transition: all 0.5s;
  }
  /* Animasi menu toggle */
  .menu-toggle span:nth-child(2) {
    transform-origin: 0% 0%;
  }

  .menu-toggle span:nth-child(3) {
    opacity: 1;
  }

  .menu-toggle span:nth-child(4) {
    transform-origin: 0% 100%;
  }

  /* apabila input di checklist */
  .menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px) scaleX(1.35);
  }

  .menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
  }

  .menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(0px, 0px) scaleX(1.35);
  }

  /*toggle slide  */
  .navbar ul.slide {
    transform: translateX(0);
    opacity: 1;
  }

  .navbar ul li.liContact.slide {
    transform: translate(0);
    opacity: 1;
  }
  /* End Hamburger menu */
  /* End navbar */

  /* Add Project */
  /* Form contact */
  .form-container form {
    width: 80%;
  }

  .img-upload p {
    width: 20vw;
  }

  button {
    width: 100%;
  }
  /* End Form contact */

  /* Card */
  .card-container {
    width: 100%;
    flex-direction: column;
    padding: 0px;
  }

  .cards {
    width: 100%;
  }

  .cards:hover {
    transform: none;
  }
  /* End card */
  /* End add project */
}
