*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: color;
}

body {
    background-color: #eee;
}

/* Navbar */
.navbar {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: rgb(255, 75, 75);
    display: flex;
    margin: auto;
    z-index: 99;
}

.navbar ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar ul li {
    width: 250px;
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar ul li img {
    margin: auto;
    width: 45px;
    height: 30px;
}

.navbar ul li a {
    font-size: 17px;
    margin: auto;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: white;
    transition: 0.5s all;
}

nav ul li a:hover {
    color: black;
}

.navbar li.liContact {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar a.aContact {
    width: 120px;
    padding: 7px 4px;
    background-color: rgb(53, 53, 53);
    border: 1px solid rgb(53, 53, 53);
    margin-right: 30px;
    border-radius: 20px;
    text-align: center;
    transition: 0.5s;
}

.navbar a.aContact:hover {
    cursor: pointer;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(97, 96, 96, 0.5),
    -1.5px -1.5px 1.5px 1.5px rgba(97, 96, 96, 0.5),
    3px 3px 3px 3px rgba(170, 170, 170, 0.5),
    -3px -3px 3px 3px rgba(170, 170, 170, 0.5),
    4.5px 4.5px 4.5px 4.5px rgba(190, 190, 190, 0.5),
    -4.5px -4.5px 4.5px 4.5px rgba(190, 190, 190, 0.5);
    color: white;
}
/* End Navbar */

/* Add Project */

.form-container {
    margin: auto;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 5;
    background-color: #eee;
    padding-top: 120px;
}

.form-container h2 {
    text-align: center;
    letter-spacing: 0.5px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.form-container form {
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    transition: 0.5s all;
}

/* .form-container form:hover {
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(254, 0, 0, 0.5),
                -2px -2px 2px 2px rgba(254, 0, 0, 0.5),
                4px 4px 4px 4px rgba(255, 75, 75, 0.5),
                -4px -4px 4px 4px rgba(255, 75, 75, 0.5),
                6px 6px 6px 6px rgba(239, 113, 113, 0.5),
                -6px -6px 6px 6px rgba(239, 113, 113, 0.5);
} */

input {
    height: 30px;
    display: block;
    padding: 0px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid white;
    transition: 0.5s all;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
}

.date {
    display: grid;
    gap: 0px 15px;
    grid-template-areas: 'label-1 label-2'
                        'start-date end-date';
}

.label-1 {
    grid-area: label-1;
}

.label-2 {
    grid-area: label-2;
}

.start-date {
    grid-area: start-date;
    width: 100%;
}

.end-date {
    grid-area: end-date;
    width: 100%;
}

textarea {
    width: 100%;
    height: 120px;
    display: block;
    border-radius: 5px;
    padding: 10px 10px;
    border: 1px solid white;
    transition: 0.5s all;
}

input:focus, textarea:focus {
    outline: none;
    background-color: white;
}

.checkbox-1, .checkbox-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
}

.checkbox-1 input, .checkbox-2 input {
    margin: 0px;
    margin-right: 15px;
    width: 20px;
    height: 20px;
}

.checkbox-1 label, .checkbox-2 label {
    width: 200px;
    margin: auto;
}

.form-container input[type="image"] {
    background-color: white;
}

.img-upload label img {
    width: 10px;
    height: 10px;
    top: 32px;
    left: 385px;
}

.form-container input.input-image {
    padding: 0;
}

/* Input Upload Image */
.img-upload {
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: 2s all;
}

.img-upload label {
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    margin: 0px;
}

.img-upload label:hover {
    cursor: text;
}

.img-upload p {
    width: 20%;
    padding: 5px;
    text-align: center;
    background-color: rgb(155, 155, 155);
    color: rgb(44, 44, 44);
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5s all;
}

.img-upload p:hover {
    cursor: pointer;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(97, 96, 96, 0.5),
    -1.5px -1.5px 1.5px 1.5px rgba(97, 96, 96, 0.5),
    3px 3px 3px 3px rgba(170, 170, 170, 0.5),
    -3px -3px 3px 3px rgba(170, 170, 170, 0.5),
    4.5px 4.5px 4.5px 4.5px rgba(190, 190, 190, 0.5),
    -4.5px -4.5px 4.5px 4.5px rgba(190, 190, 190, 0.5);
}

.img-upload label img {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

.img-upload label img:hover {
    cursor: pointer;
}

.img-upload input {
    display: none;
}
/* End Input Upload Image */

.btn-submit {   
    width: 25%;
    align-self: flex-end;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(53, 53, 53);
    border: 1px solid rgb(53, 53, 53);
    color: white;
    font-size: 1rem;
    letter-spacing: 0.5px;
    transition: 0.5s all;
}

.btn-submit:hover {
    cursor: pointer;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(97, 96, 96, 0.5),
    -1.5px -1.5px 1.5px 1.5px rgba(97, 96, 96, 0.5),
    3px 3px 3px 3px rgba(170, 170, 170, 0.5),
    -3px -3px 3px 3px rgba(170, 170, 170, 0.5),
    4.5px 4.5px 4.5px 4.5px rgba(190, 190, 190, 0.5),
    -4.5px -4.5px 4.5px 4.5px rgba(190, 190, 190, 0.5);
}

.input-color {
    border-left: 1.5px solid red;
    border-bottom: 1.5px solid red;
    border-right: 1.5px solid orange;
    border-top: 1.5px solid orange;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(254, 0, 0, 0.5),
                -1.5px -1.5px 1.5px 1.5px rgba(254, 0, 0, 0.5),
                3px 3px 3px 3px rgba(239, 113, 113, 0.5),
                -3px -3px 3px 3px rgba(239, 113, 113, 0.5);
}

.input-border {
    border: 1px solid black;
}
/* End Add Project */

/* Cards */
.card-container {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px 0px;
    background-color: #eee;
    padding: 50px;
    padding-top: 30px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}

.cards {
    width: 31%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    transition: 0.5s all;
}

.cards:hover {
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(254, 0, 0, 0.5),
                -2px -2px 2px 2px rgba(254, 0, 0, 0.5),
                4px 4px 4px 4px rgba(255, 75, 75, 0.5),
                -4px -4px 4px 4px rgba(255, 75, 75, 0.5),
                6px 6px 6px 6px rgba(239, 113, 113, 0.5),
                -6px -6px 6px 6px rgba(239, 113, 113, 0.5);
    transform: scale(1.03);
}

.cards img {
    width: 100%;
    height: 270px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.cards img:hover {
    filter: hue-rotate(150deg);
}

.card-container .cards h3 a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.cards .date {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 0.8rem;
}

.cards .desc {
    margin-bottom: 25px;
    text-align: justify;
    font-size: 1rem;
}

.cards .icons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.cards .icons img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    transition: 0.5s all;
}

.icons img:hover {
    transform: scale(1.2) rotate(360deg);
    filter: hue-rotate(150deg);
}

.cards div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cards div button {
    width: 48%;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
    letter-spacing: 0.7px;
    transition: 0.5s all;
}

.cards div button:hover {
    cursor: pointer;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(97, 96, 96, 0.5),
    -1.5px -1.5px 1.5px 1.5px rgba(97, 96, 96, 0.5),
    3px 3px 3px 3px rgba(170, 170, 170, 0.5),
    -3px -3px 3px 3px rgba(170, 170, 170, 0.5),
    4.5px 4.5px 4.5px 4.5px rgba(190, 190, 190, 0.5),
    -4.5px -4.5px 4.5px 4.5px rgba(190, 190, 190, 0.5);
}

/* End Cards */
